 .moviecard{
     width: 17rem;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: 500ms ease-in;
     &__img{
         width: 100%;
         margin-bottom: 1rem;
        cursor: pointer;
         &:hover{
            
         }
     }

     &__classic{
         font-weight: bold;
     }

     &__desc{
         font-size: 80%;
     }
 }