
.openSearch{
    transform: translateX(0);
    opacity: 1;
}

.moveSearchBtn{
    left: 5px;
}

.showElement{
    opacity: 1;
    z-index: 10;
}

.borderColorRed{
    border-color: red;
}

.resizeHeaderLogo{
    width: 8rem;
}

.showOverlay{
    opacity: 1;
}